<!DOCTYPE html>


<html lang="en">
<head>
{% load static %}
{% load i18n %}

{% block title %}
  <title>KidsStep</title>
{% endblock %}

<link rel="icon" href="data:;base64,=">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>
<body class="bg-light" >
<!--        Header ----------------->
  <div class=" container-fluid bg-secondary px-5 " style="height: 96px;">
            <div class="row h-100">
                <div class="col-xl-4  col-md-5 ">
                    <div class="mt-3">
                        <a href="{% url 'index' %}"  style=" text-decoration: none; " >
                            <img src="{% static 'logo/logo_KS_light.svg' %}" alt="Logo" class="header-icon ">
                            <img src="{% static 'logo/logo_KS_text.svg' %}" alt="Logo" class="header-icon d-none d-md-inline" style="margin-left: 10px;">
                            <span style="letter-spacing:3px;" class="d-none d-lg-block">Интернет-магазин детской обуви</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-md-7 ">
                    <div class="d-flex  mt-1 justify-content-end">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% block header %} {% endblock %}
<!--                        ------------------------------------Button Languages-->
                        <div class="button-header  mx-1  dropdown " >
                            <a class=" px-1  dropdown-toggle" href="#" role="button" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'icons/language.svg' %}" alt="Languages" class="header-icon ">
                                <span class="d-none d-md-inline "  >{{LANGUAGE_CODE}}</span>
                            </a>
                            <div class="dropdown-menu bg-secondary border border-white"  aria-labelledby="dropdownLink">
                                <a class="dropdown-item" style="color:orange;" href="/en/{{request.path|slice:'4:'}}">EN English</a>
                                <a class="dropdown-item" style="color:orange;" href="/ru/{{request.path|slice:'4:'}}">RU Русский</a>
                                <a class="dropdown-item" style="color:orange;" href="/uk/{{request.path|slice:'4:'}}">UK Українська</a>
                            </div>

                        </div>

<!--                        ----------------------------Buttons Favorite & Account-->

                        {% if request.user.is_authenticated %}
                              <div class="button-header  mx-1  ">
                                  <a class="px-1" href="#"  >
                                    <img src="{% static 'icons/favorite.svg' %}" alt="Favorite" class="header-icon">

                                  </a>
                              </div>
                            {% if request.user.is_staff %}
                                  <div class="button-header mx-1 ">
                                        <a class="px-1" href="{% url 'profile' %}?next={{request.path}}" >
                                            <img src="{% static 'icons/account.svg' %}" alt="Account" class="header-icon">
                                        </a>

                                        <a class="px-1" href="{% url 'managment' %}?next={{request.path}}" >
                                            <img src="{% static 'icons/support_agent.svg' %}" alt="Support" class="header-icon d-none d-sm-inline">
                                            <span class="d-none d-lg-inline " >{{ user.get_username }}</span>
                                        </a>
                                    </div>
                            {% else %}
                                <div class="button-header  mx-1  ">
                                 <a class="px-1" href="{% url 'profile' %}?next={{request.path}}" >

                                      <img src="{% static 'icons/account.svg' %}" alt="Account" class="header-icon">
                                      <span class="d-none d-lg-inline " >{{ user.get_username }}</span>
                                 </a>
                             </div>
                        {% endif %}
                             <div class="button-header mx-1 ">
                                 <a class="px-1"  href="{% url 'logout' %}?next={{request.path}}" >
                                    <img src="{% static 'icons/logout-24px.svg' %}" alt="Logout" class="header-icon">
                                </a>
                             </div>

                        {% else %}
<!--                                    -----------------------Login-->
                              <div class="button-header mx-1 ">
                                  <a class="px-1" href="{% url 'login' %}?next={{request.path}}" >
                                        <img src="{% static 'icons/account.svg' %}" alt="Login" class="header-icon">
                                        <span class="d-none d-md-inline "   >{% trans 'Войти'  %}</span>
                                  </a>
                              </div>
                        {% endif %}



<!--                    -------------------------------------Button Shoping Cart-->
                        <div class="button-header mx-1 ">
                            <a class="but-header px-1" href="{% url 'basket' %}?next={{request.path}}" >
                                <img src="{% static 'icons/shopping_cart.svg' %}" alt="Basket" class="header-icon">
                            </a>
                        </div>


                    </div>
                    <div class="d-flex  mt-1 ">
                        {% if gender %}
                            {% for g in gender %}
                                <div>
                                        <a class="dropdown-toggle mx-2 " href="{% url 'type' g.id_gender  %}" role="button"
                                            id="{{g.id_gender}}" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"> {{g.gender}}</a>

                                    <div class="dropdown-menu bg-secondary border border-white "  aria-labelledby="{{g.id_gender}}">
                                        {% for t in g.g_type.all %}
                                        <a class="dropdown-item" style="color:orange;" href="{% url 'footwear' g.id_gender t.id_type %}"> {{t.type }} </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" action="{% url 'search' %}" class="flex-fill d-flex px-1  "   >
                            {% csrf_token %}
                            <input type="text" class=" flex-fill bg-secondary  search "
                                   name="search"  placeholder={% trans 'Поиск'  %}  >
                            <button type="submit" class=" px-3  search-button "  >
                                <img   src="{% static 'icons/search24.svg' %}" alt="Card image" style="height:27px;"></button>
                        </form>

                    </div>
                </div>
            </div>


    </div>


  <div class=" container-fluid  pt-3 px-5  " style="min-height:900px;" >
    {% block nav-tabs %}   {% endblock %}
    {% block content %}  {% endblock %}


    {% block box %}  {% endblock %}


  </div>




{% block footer %}
{% endblock %}




</body>
</html>