{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>
{% endblock %}



{% block box %}
    <div class=" center "   >
        <div  >
            {% if total > 0 %}
            <H1 style="text-align:center; color:white;">{% trans 'Товары в корзине'  %} </H1>
            {% else %}
            <H1 style="text-align:center; color:white;">{% trans 'У вас пока нет товаров в корзине'  %} </H1>
            {% endif %}
        </div>
        <div class="row " style="padding-left:5px;"  >
            <div class="col-sm-9"  style="margin:0px">
                {% for prod in user_product %}
                    <div class="row product" >
                        <div class="col-md-2">
                            <img class=" product-image"  src=" /{{ prod.product.image }} " alt="Order image" >
                        </div>
                        <div class="col-md-8" style="margin-top:5px;">
                            <h5 class="product-text">{{ prod.product.name }}</h5>
                            <a style="font-size: 110%;">{% trans 'Размер' %}</a> <span style="font-size: 150%;">{{ prod.size}} </span> <br>
                        </div>
                        <div class="col-md-2 " style="background:orange; border-radius:0px 10px 10px 0px; min-height:40px;   ">
                            <div class="price" >
                                 <a > <span style="font-size: 200%;" > {{prod.product.price}} </span> {% trans 'грн.' %} </a>
                            </div>
                            <div>
                                <form method="post" >
                                    {% csrf_token %}
                                    <input class="delete"  type="submit" id="{{ prod.id_product }}"
                                           style= "background-image: url({% static 'icons/delete.svg' %});"
                                           name="delete" value="{{ prod.id_product}}" >
                                </form>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if total > 0 %}
                <div class="col-sm-3">
                        <p style="color:white;">{% trans 'Итого к оплате:'  %} <br> <span style="font-size:200%;" > {{total}} </span> {% trans 'грн.'  %} </p>
                        <a class="nav-"  href="{% url 'order' %}">{% trans 'Оформить заказ'  %}</a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
