{% extends "base_generic.html" %}
{% load static %}

{% block box %}
    <div class=" center "   >
        <form method="post" >
            {% csrf_token %}
                <input class="submit"  type="submit" name="refresh_ge_ty" value="Обновить пол и тип обуви с превью" style="color:green;" >
                <input class="submit"  type="submit" name="refresh_size" value="Обновить размеры" >
                <input class="submit"  type="submit" name="refresh_color" value="Обновить цвет" >
                <input class="submit"  type="submit" name="refresh_adv_slider" value="Обновить рекламный слайдер" >
                <input class="submit"  type="submit" name="refresh_footwear" value="Обновить обувь" >
                <br><br><br><br><br><br>



                <input class="submit"  type="submit" name="delete_gender" value="Удалить пол" style="background:red;" >
                <input class="submit"  type="submit" name="delete_type" value="Удалить пол" style="background:red;" >


        </form>

    </div>

{%endblock%}