{% extends "base_generic.html" %}
{% load static %}




{% block nav-tabs %}
        <a class="nav-"  href="{% url 'index'  %}">Главная</a>

{% endblock %}


{% block content %}
    <div class="col-sm-10 " >
        <div class="fotorama slider" data-autoplay="true" data-transition="crossfade"
             data-clicktransition="crossfade" data-nav="false">
            {% for a in adv %}
            <img src=" /{{ a }} ">
            {% endfor %}
        </div>

        {% for pop in popular %}
            {% for gen in pop.footwear_gender.all %}
                <a href="{% url 'footwear_detail' gen.id_gender pop.footwear_type.id_type pop.id %}" >
                    <div class=" card_fw"  >
                        <img class=" card_fw_image  " src=" /{{ pop.image.first.image }} " alt="Card image">
                        <p class="card_fw_text"> {{ pop.name }}</p>
                        <div style="margin-left: 10px; height:20px;" >
                        {% for s in pop.size.all %}
                            <p class="card_fw_size" > {{ s }}</p>
                        {% endfor %}
                        </div>

                        <div class="card_fw_price_block">
                           <p style="margin-top:5px;" >{{pop.price}} грн</p>
                        </div>

                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block filter %}
<p> Фильтровать</p>
<p> Размер</p>
{% for key, value in filter_size.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p> Цвет </p>
{% for key, value in filter_color.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p> Бренд </p>
{% for key, value in filter_brend.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}


{% endblock %}