{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}



{% block nav-tabs %}
        <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>

{% endblock %}


{% block content %}
    <div class="col-sm-10 " >
        <div class="fotorama slider" data-autoplay="true" data-transition="crossfade"
             data-clicktransition="crossfade" data-nav="false">
            {% for a in adv %}
            <img src=" /{{ a }} ">
            {% endfor %}
        </div>

        {% for pop in popular %}

                <a href="{% url 'footwear_detail' pop.footwear_gender.first.id_gender pop.footwear_type.id_type pop.id %}" >
                    <div class=" card_fw"  >
                        <div style="height:180px;">
                        <img class=" card_fw_image  " src=" /{{ pop.image.first.image }} " alt="Card image">
                        </div>
                        <p class="card_fw_text"> {{ pop.name }}</p>
                        <div style="margin-left: 10px; height:20px;" >
                        {% for s in pop.size.all %}
                            <p class="card_fw_size" > {{ s }}</p>
                        {% endfor %}
                        </div>
                        <div class="color_block" >
                            {% for g in pop.footwear_gender.all %}

                                {% if g.id_gender == 'girl'%}
                                <img style="height:28px;" src="{% static 'icons/girl.svg' %}" alt="Card image">
                                {% elif g.id_gender == 'boy'%}
                                <img style="height:30px;"  src="{% static 'icons/boy.svg' %}" alt="Card image">

                                {% endif %}
                            {% endfor %}

                        </div>



                        <div class="card_fw_price_block">
                           <p style="margin-top:5px;" >{{pop.price}} {% trans 'грн.'  %}</p>
                        </div>

                    </div>
                </a>

        {% endfor %}
    </div>
{% endblock %}

{% block filter %}
<a class="navigate_gender"> {% trans 'Фильтры'  %}</a>
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Размер'  %}</span></p>
{% for key, value in filter_size.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Цвет'  %}</span></p>

{% for key, value in filter_color.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Бренд'  %}</span></p>

{% for key, value in filter_brend.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}




{% endblock %}