{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}



{% block nav-tabs %}
        <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>

{% endblock %}


{% block content %}
    <div class="col-sm-10 " >
        <div class="fotorama slider" data-autoplay="true" data-transition="crossfade"
             data-clicktransition="crossfade" data-nav="false">
            {% for a in adv %}
            <img src=" /{{ a }} ">
            {% endfor %}
        </div>

        {% for pop in popular %}

                <a href="{% url 'footwear_detail' pop.footwear_gender.first.id_gender pop.footwear_type.id_type pop.id %}" >
                    <div class=" card_fw"  >
                        <div style="height:180px;">
                        <img class=" card_fw_image  " src=" /{{ pop.image.first.image }} " alt="Card image">
                        </div>
                        <span class="card_fw_text" > {{ pop.name }}</span>
                        <div class="card_size_block" >
                        {% for s in pop.size.all %}
                            <span class="card_fw_size" > {{ s }}</span>
                        {% endfor %}
                        </div>
                        <div class="gender_block" >
                            {% for g in pop.footwear_gender.all %}
                                {% if g.id_gender == 'girl'%}
                                <img style="height:28px;" src="{% static 'icons/girl.svg' %}" alt="Card image">
                                {% elif g.id_gender == 'boy'%}
                                <img style="height:30px;"  src="{% static 'icons/boy.svg' %}" alt="Card image">
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="card_fw_price_block">
                           <p style="margin-top:5px;" >{{pop.price}} {% trans 'грн.'  %}</p>
                        </div>

                    </div>
                </a>
        {% endfor %}
        <!--        page navigation-->
        <div style="display: flex;" >
            {% if popular.has_previous %}
                <div class="page_unit"  >
                    <a href="?page={{ popular.previous_page_number }}" >
                        <img src="{% static 'icons/arrow-left.svg' %}" alt="arrow-left"
                             style="height:20px; width:20px; margin-top:3px; "  ></a>
                </div>
                <div class="page_unit" >
                    <a href="?page=1" class="page_">1</a>
                </div>
                {% if dots_start%}
                    <div class="page_unit" style="border: 0px solid orange;">
                        <a  class="page_" >...</a>
                    </div>
                {% endif %}
                {% if   popular.number  != 2 %}
                    <div class="page_unit" >
                        <a href="?page={{ popular.previous_page_number }}" class="page_">{{ popular.previous_page_number }}</a>
                    </div>
                {% endif %}
            {% endif %}
                <div class="page_unit" style="border: 2px solid orange;">
                    <a  class="page_" style="color:orange; ">{{ popular.number }}</a>
                </div>
            {% if popular.has_next %}
                {% if popular.next_page_number != popular.paginator.num_pages %}
                    <div class="page_unit" >
                        <a href="?page={{ popular.next_page_number }}" class="page_">{{ popular.next_page_number }}</a>
                    </div>
                {% endif %}
                {% if dots_end%}
                    <div class="page_unit" style="border: 0px solid orange;">
                        <a  class="page_" >...</a>
                    </div>
                {% endif %}
                <div class="page_unit" >
                    <a href="?page={{ popular.paginator.num_pages }}" class="page_">{{ popular.paginator.num_pages }}
                    </a>
                </div>
                <div class="page_unit" >
                    <a href="?page={{ popular.next_page_number }}" >
                        <img src="{% static 'icons/arrow-right.svg' %}" alt="arrow-left"
                             style="height:20px; width:20px; margin-top:3px; " >
                    </a>
                </div>
            {% endif %}
        </div>



    </div>
{% endblock %}

{% block filter %}
<a class="navigate_gender"> {% trans 'Фильтры'  %}</a>
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Размер'  %}</span></p>
{% for key, value in filter_size.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Цвет'  %}</span></p>

{% for key, value in filter_color.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}
<p class="nav_type_point">  --<span class="navigate_type">{% trans 'Бренд'  %}</span></p>

{% for key, value in filter_brend.items %}
    <a>{{ key }}   </a>
    <a style="color:orange;"> {{ value }}</a>
{% endfor %}




{% endblock %}