{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>
{% endblock %}


{% block box %}
<div class="center" style="padding-top:50px;">
    <div class="top text-center " style="width:80%; " >
        <h3 style="color:white; margin-bottom:10px; "> {% trans 'Спасибо за ваш заказ!'  %} </h3>
        <p style="color:orange; "> {% trans 'Номер вашего заказа'  %} {{article}}</p>
        <p style="color:orange; "> {% trans 'Заказ на сумму:'  %} {{order.total_price}}</p>
        <p style="color:orange; "> {% trans 'Доставка:' %} {{order.delivery}}</p>
        <p style="color:white; "> {% trans 'Скоро менеджер свяжется с Вами.' %}</p>
        <button class="submit" style="height:40px;; width:60%; margin-top:10px; border-radius:10px; "
                type="button"  ><a href="{% url 'index' %}"
                style=" text-decoration: none; color:#323C8C; ">{% trans 'Вернуться на главную'  %}</a> </button>
    </div>

</div>

{% endblock %}