{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% load index_tag %}





{% block box %}


<!--        {% if not request.user.is_authenticated  %}-->
<!--          {% else %}-->
<!--        {% endif %}-->
<!--        <div class="top text-center " style="width:90%; " >-->
<!--            <h4 class="card_self"> {% trans 'Создать быстрый заказ или авторизация:'  %} </h4>-->
<!--            <a class="nav-"  href="{% url 'login' %}?next={{request.path}}">{% trans 'Авторизация'  %}</a>-->
<!--            <a class="nav-"  href="{% url 'anonimus' %}?next={{request.path}}">создать</a>-->
<!--            <p> или </p>-->
<!--            <form method="post" >-->
<!--                    {% csrf_token %}-->
<!--                <input name="guest_name" value="1" type="text">-->
<!--                <input name="guest_phone" value="1" type="text">-->

<!--            </form>-->

<!--        </div>-->
<form method="post"  >
    {% csrf_token %}
<div class="row "   >
    <div class="col-md-2 "   ></div>
    <div class="col-md-8 row "   >
        <h4 class="col-md-12 text-center card_self"> {% trans 'Ваш заказ:'  %} </h4>
         {% for prod in user_product %}
                        <div class="col-md-1 bg-white mb-1" style="border-radius: 10px 0px 0px 10px;"  >
                                <img class=" order-image"  src=" /{{ prod|product_image }} " alt="Order image" >
                        </div>
                        <div class="col-md-8 card_self bg-white mb-1"  >
                            <h6 class="product-text mt-1">{{prod|product_name}}</h6>
                        </div>
                        <div class="col-md-3 bg-white card_self  mb-1" style="border-radius: 0px 10px 10px 0px;"  >
                            <div >
                                <p class=" text-center my-0 "  style=" font-size: 150%;"> {{prod|product_price}}
                                    <span style="font-size: 50%;" >   {% trans 'грн.' %} </span>
                                </p>
                            </div>
                        </div>
        {% endfor %}

        <h4 class="col-md-12 text-center card_self"> На сумму: <span > {{total}} {% trans 'грн.' %} </span>  </h4>
            <form method="post">
              {% csrf_token %}
                <div class="col-md-3" ></div>
                <div class=" login col-md-6   "  >
                    {% if not request.user.is_authenticated %}
                    <div class="align-center mb-1">
                        {{ form.username }}
                    </div>
                    <div class="align-center mb-1">
                        {{ form.phone }}
                    </div>
                    {% endif %}
                    <div class="align-center mb-1"> {{ form.delivery }} </div>
                    <div class="align-center mb-1"> {{ form.city }} </div>
                    <div class="align-center mb-1"> {{ form.department }} </div>



                </div>
                <div class="col-md-3" ></div>
                <div class="col-md-3" ></div>
                <input class="col-md-6 submit mt-2" style="height:40px; border-radius:10px;" name="done" type="submit" value={% trans 'Подтвердить заказа' %} />
                <div class="col-md-3" ></div>
            </form>






       </div>



    </div>
    <div class="col-md-2 "   ></div>
</div>

</form>






{% endblock %}