{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}



{% block content %}
    <div class="row px-2" >
        <div class="col-12">
            <h5 class="card_self">Результаты поиска</h5>
        </div>
        {% for pop in search %}
        <div class="col-xl-2 col-lg-3 col-sm-6 mb-1 px-1 ">
            <div class="card shadow-sm bg-light" style="height:400px;" >
                <a href="{% url 'footwear_detail' pop.footwear_gender.first.id_gender pop.footwear_type.id_type pop.id %}" class="card_self">
                    <img src="/{{ pop.image.first.image }}" class="card-img-top float-bottom" alt="...">
                  <div class="card-body " >
                    <h6 class="card-title mb-1">{{ pop.name }}</h6>
                    <img src="{% static 'icons/size.svg' %}" alt="Logo" style="width:25px;">
                    {% for s in pop.size.all %}

                      <span style="font-size:90%;" > {{ s }}</span>
                    {% endfor %}
                     <h5 class="price-block mb-0">{{ pop.price}} {% trans 'грн.'  %}</h5>
                  </div>

                  <div class="gender_block" >
                            {% for g in pop.footwear_gender.all %}
                                {% if g.id_gender == 'girl'%}
                                <img style="height:28px;" src="{% static 'icons/girl.svg' %}" alt="Card image">
                                {% elif g.id_gender == 'boy'%}
                                <img style="height:30px;"  src="{% static 'icons/boy.svg' %}" alt="Card image">
                                {% endif %}
                            {% endfor %}
                        </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

        {% if footwear_selected.paginator.num_pages > 1 %}
            <div style="display: flex;" class="mb-3" >
            {% if footwear_selected.has_previous %}
                <div class="page_unit"  >
                    <a href="?page={{ footwear_selected.previous_page_number }}" >
                        <img src="{% static 'icons/arrow-left.svg' %}" alt="arrow-left"
                             style="height:20px; width:20px;  "  ></a>
                </div>
                <div class="page_unit" >
                    <a href="?page=1" >1</a>
                </div>
                {% if dots_start%}
                    <div class="page_unit" style="border: 0px solid orange;">
                        <a   >...</a>
                    </div>
                {% endif %}
                {% if   footwear_selected.number  != 2 %}
                    <div class="page_unit" >
                        <a href="?page={{ footwear_selected.previous_page_number }}" >{{ footwear_selected.previous_page_number }}</a>
                    </div>
                {% endif %}
            {% endif %}
                <div class="page_unit" style="border: 2px solid orange;">
                    <a   style="color:orange; ">{{ footwear_selected.number }}</a>
                </div>
            {% if footwear_selected.has_next %}
                {% if footwear_selected.next_page_number != footwear_selected.paginator.num_pages %}
                    <div class="page_unit" >
                        <a href="?page={{ footwear_selected.next_page_number }}" >{{ footwear_selected.next_page_number }}</a>
                    </div>
                {% endif %}
                {% if dots_end%}
                    <div class="page_unit" style="border: 0px solid orange;">
                        <a   >...</a>
                    </div>
                {% endif %}
                <div class="page_unit" >
                    <a href="?page={{ footwear_selected.paginator.num_pages }}" >{{ footwear_selected.paginator.num_pages }}
                    </a>
                </div>
                <div class="page_unit" >
                    <a href="?page={{ footwear_selected.next_page_number }}" >
                        <img src="{% static 'icons/arrow-right.svg' %}" alt="arrow-left"
                             style="height:20px; width:20px;  " >
                    </a>
                </div>
            {% endif %}
        </div>
        {% endif %}

{% endblock %}