{% extends "base_generic.html" %}
{% load static %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">Главная</a>
    <img class="nav_arrow" src="{% static 'icons/nav_arrow.svg' %}" alt="Card image">
        <a class="nav-" id="active" >{{nav_gender.gender}}</a>
{% endblock %}



{% block content %}
  <div class="col-sm-10 body_ ">
        {% for s in nav_gender.g_type.all %}
            <a href="{% url 'footwear' nav_gender.id_gender s.id_type %}">
                 <div class=" card_fw" style=" height:230px;">
                     {% for preview in prw_list%}
                        {%if preview.prw_type.id_type == s.id_type%}
                            <img class=" card_fw_image  " src=" /{{ preview.prw_image }} " alt="Card image">
                        {%endif%}
                     {%endfor%}
                    <p class="card_fw_text" style="font-size: 20px; text-align: center;">{{ s.type }}</p>
                 </div>
            </a>
        {% endfor %}

  </div>
{% endblock %}
