{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}



{% block box %}
    <div class="pt-3" >
      <div class="top text-center w-50 bg-secondary py-4" >
        <h4 style="color:orange; ">{% trans 'Восстановить пароль'  %} </h4> <br>

        <form method="post" >
          {% csrf_token %}
            <p class=" login " >  {{ form.email }}  </p>
            {% for error in form.email.errors %}
                <p class=" error-text"  >{{ error }} </p>
            {% endfor %}
            {% if not form.email.errors %}
               <p class=" help-text">{{ form.email.help_text }} </p>
            {% endif %}
          <input class=" submit" style="height:40px;; width:60%; margin:0px; border-radius:10px; "  type="submit" value={% trans 'Отправить письмо'  %} />
        </form>
      </div>
    </div>
{% endblock %}

