{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>
{% endblock %}


{% block box %}
    <div class=" center  "   style="padding-top:50px;" >
        <div class="top text-center " style="width:50%; " >
            <h4 style="color:white; ">{% trans 'Введите новый пароль'  %} </h4> <br>
            <p class="help-text">{% trans 'Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания'  %}</p>
            <form method="post" >
            {% csrf_token %}
            {% for field in form %}
                <p class=" login " >  {{ field }}  </p>
            {% endfor %}
            {% if form.new_password2.errors  %}
                {% for err in form.new_password2.errors  %}
                    <p class=" error-text"  >{{ err }} </p>
                {% endfor %}
            {% else %}
                <div class=" help-text">{{ form.new_password1.help_text }} </div>
            {% endif %}
            <input class=" submit" style="height:40px;; width:60%; margin:0px; border-radius:10px; "  type="submit" value={% trans 'Изменить мой пароль'  %} />
            </form>
        </div>
    </div>
{% endblock %}