{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">{% trans 'Главная'  %}</a>
{% endblock %}

{% block box %}
    <div class=" center  "   style="padding-top:50px;" >
      <div class="top text-center " style="width:50%; " >
        <h4 style="color:white; "> </h4> <br>

        <form method="post" >
          {% csrf_token %}
            <p class=" login " >  {{ form.email }}  </p>
            {% for error in form.email.errors %}
                <p class=" error-text"  >{{ error }} </p>
            {% endfor %}
            {% if not form.email.errors %}
               <p class=" help-text">{{ form.email.help_text }} </p>
            {% endif %}
          <input class=" submit" style="height:40px;; width:60%; margin:0px; border-radius:10px; "  type="submit" value={% trans 'Отправить письмо'  %} />
        </form>
      </div>
    </div>
{% endblock %}

