{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}


{% block box %}
    <div   class="pt-3" >
      <div class="top text-center w-50 bg-secondary py-4"    >
        <h4 style="color:orange; ">{% trans 'Регистрация'  %} </h4> <br>
            <form method="post">
              {% csrf_token %}
                {% for field in form %}
                    <p class=" login "  style="margin-bottom:7px;">  {{ field }}  </p>
                    {% for error in field.errors %}
                      <p class=" error-text"  >{{ error }} </p>
                    {% endfor %}
                    {% if not field.errors %}
                      <p class=" help-text">{{ field.help_text }} </p>
                    {% endif %}
                {% endfor %}
              <input class=" submit" style="height:40px;; width:60%; margin:0px; border-radius:10px; "  type="submit" value={% trans 'Регистрация'  %} />
            </form>
      </div>
    </div>
{% endblock %}