{% extends "base_generic.html" %}
{% load static %}

{% block nav-tabs %}
    <a class="nav-"  href="{% url 'index'  %}">Главная</a>
{% endblock %}


{% block box %}
    <div class=" center  "   style="padding-top:50px;" >
      <div class="top text-center " style="width:50%; " >
        <h4 style="color:white; "> Регистрация</h4> <br>
            <form method="post">
              {% csrf_token %}
                {% for field in form %}
                    <p class=" login "  style="margin-bottom:7px;">  {{ field }}  </p>
                    {% for error in field.errors %}
                      <p class=" error-text"  >{{ error }} </p>
                    {% endfor %}
                    {% if not field.errors %}
                      <p class=" help-text">{{ field.help_text }} </p>
                    {% endif %}
                {% endfor %}
              <input class=" submit" style="height:40px;; width:60%; margin:0px; border-radius:10px; "  type="submit" value="Регистрация" />
            </form>
      </div>
    </div>
{% endblock %}