{% load static %}

body{
    font-family: Roboto, Helvetica;
}

a:active, a:hover, a {
  text-decoration: none;
  color: orange;
}
.header-icon{
    height: 48px;
}
.button-header{
    box-shadow: 0px 0px 7px #555;
    border: 1px solid #8b9299;
    border-radius: 10px;
}
.button-header:hover{
    background: rgba(70, 90, 200, 0.5);
}
.search{
    color:white;
    box-shadow: 0px 0px 7px #555;
    border-color: #8b9299;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-radius: 10px 0px 0px 10px;
}
.search::placeholder{
    color: #aaa;
}
.search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.search-button{
    background-color: #6c757d;
    box-shadow: 0px 0px 7px #555;
    border-color: #8b9299;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-radius: 0px 10px 10px 0px;
}
.search-button:hover{
    background: rgba(70, 90, 200, 0.5);
}

.gender_block{
    position: absolute;
    top: 10px;
    left: 10px;
}

.card_self {
    color: rgba(70, 90, 200, 1);
}

.price-block{
    position: absolute;
    bottom: 10px;

}

.page_unit{
    border: 2px solid rgba(70, 90, 200, 1);
    width:30px;
    height:30px;
    border-radius:5px;
    margin-left:5px;
    text-align:center;
}

.page_unit a{
    color:rgba(70, 90, 200, 1);
    font-size:110%;
    display:block;
}

.radio{
    margin-top:5px;
}

.radio input {
	appearance: none;
	cursor: pointer;
	border-radius: 2px;
    width:30px;
    height:30px;
	transition: all 100ms linear;
	border: 2px solid rgba(70, 90, 200, 1);
	margin-right:10px;
	color: rgba(70, 90, 200, 1);
}

.radio input:checked {
	border: 2px solid orange;
	color: orange;
}
.radio input:before {
	content: attr(label);
	margin-left:3px;
	margin-top:7px;
}

select{
    border:none;
}


.submit{
    border: 1px solid orange;
    border-radius: 10px;
    width: 100%;
    font-size:120%;
    color:orange;
    background: rgb(70, 90, 200);
    }

.nav_arrow{
    margin:6px;
    height:22px;

}

#nav_active{
    color: #323C8C;
    font-weight: bold;
}

#nav_active:hover{
   text-shadow: 0px 0px 10px rgba(100, 100, 20, 0.7);
}


.top{
    margin-left:auto;
    margin-right:auto;

    margin-bottom:0px;
    border-radius:10px;
}

.delete{
    background: none;
    position: absolute;
    top: 5px;
    right:5px;
    height: 20px;
    width:20px;
	color: rgba(50, 60, 140, 0);
    border: none;
}

.price{
    font-size: 200%;
    color:orange;
}

.product-image{
    width:100px;
    height:100px;
}

.order-image{
    width:40px;
    height:40px;
}

.login input, select{
    color: #323C8C;
    border-radius:10px;
    border:none;
    width:90%;
    text-align:center;
}

.login input:focus{
    outline: none;

}

.status_toggle{
    color: orange;
    background:none;
    border: none;
    margin-top:5px;
    margin-bottom:5px;
}













.lang{

    display:block;
    height:12px;
    margin-bottom:2px;
    font-size:11px;
    text-align:center;
    line-height:12px;
    color:rgba(50, 60, 140, 0);
}

.lang:hover{
    text-decoration: none;
    color:rgba(50, 60, 140, 0)!important;
}



.card_fw{
    position: relative;
    width:204px;
    height:310px;
    background: rgba(50, 60, 140, 0.5);
    margin:8px;
    display:inline-block;
    color: orange;
    font-size: 14px;
   /* border: 2px solid orange; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(20, 30, 100, 1);
}

.card_fw_image{
    width:188px;
    margin-top:8px;
    margin-left:8px;
    border-radius: 5px;
}

.card_fw_text{
    margin-left:10px;
    margin-right:10px;
    color:orange;
    position: absolute;
    top: 200px;

}
.card_fw_size{
    display:inline-block;
    color:white;
    font: bold italic 70% Arial;
}

.card_size_block{
    margin-left:10px;
    margin-right:10px;
    position: absolute;
    top: 245px;

}

.card_fw_price_block{
    background: orange;
    color:#323C8C;
    text-align:center;
    font: bold italic 140% Arial;
    position:absolute;
    bottom:0px;
    height:36px;
    width:100%;
    border-radius: 0px 0px 10px 10px;





}

.color{
    display:inline-block;
    width:20px;
    height:20px;
    border: 1px solid orange;
    border-radius: 10px;
}




.navigation{
    margin: 4px;
}








.navigate_type{
    text-decoration: none;
    color: orange;
    text-shadow: 0px 0px 10px rgba(20, 30, 100, 0.7);
}
.navigate_type:hover{
    text-decoration: none;
    color:orange!important;
    text-shadow: 0px 0px 10px rgba(0, 0, 200, 1);
}


.navigate_gender{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px rgba(20, 30, 100, 0.7);
    margin-left: 10px;
}
.navigate_gender:hover{
    text-decoration: none;
    color:white!important;
    text-shadow: 0px 0px 10px rgba(0, 0, 200, 1);


}


.nav_type_point{
    text-decoration: none;
    color: rgba(50, 60, 140, 0);
    margin-left: 10px;
}

.nav_type_point:hover{
    text-decoration: none;
    color:rgba(50, 60, 140, 0)!important;

}







.product{
    background: rgba(50, 60, 140, 0.5);
    color: orange;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(20, 30, 100, 1);
    margin-bottom:10px;
    margin-left:5px;
    margin-top:5px;
}



.product-text{
    font-family: Arial;
    font-style:italic;
    font-weight: bold;
}

.product-color{
    display:inline-block;
    width:50px;
    height:20px;
    border: 1px solid orange;
    border-radius: 5px;
}








.help-text{
    color:orange;
    font-size:80%;
    font-weight: normal;
    margin-left:50px;
    margin-right:50px;

}

.error-text{
    font-size:80%;
    font-weight: normal;
    margin-left:50px;
    margin-right:50px;
    -webkit-animation: error-text 2s linear infinite;
    animation: error-text 2s linear infinite;
}

@-webkit-keyframes error-text {
  0% { color: rgba(256, 0, 0, 1); }
  50% { color: rgba(256, 256, 256, 1); }
  100% { color: rgba(256, 0, 0, 1); }
}
@keyframes error-text {
  0% { color: rgba(256, 0, 0, 1); }
  50% { color: rgba(256, 256, 256, 1); }
  100% { color: rgba(256, 0, 0, 1); }
}

.manage_header_card{
    background:orange;
    color: #323C8C;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:5px;
    border-radius: 10px 10px 0px 0px;
}



.status_toggle_item{
    color:orange;
}

.manage_total_price{
    background:orange;

    border-radius: 0px 0px 40px 0px;
    color: #323C8C;
    font-family: Arial;
    font-style:italic;
    font-size:170%;
    font-weight: bold;
    text-align:center;
    margin-bottom:5px;

}

.manage_icon{
    height:20px;
}

.delivery_operator{
    border:none;
    color: rgba(50, 60, 140, 0);
	width:206px;
	height:60px;
	transition: all 100ms linear;
	margin-right:10px;

    background-repeat: no-repeat;
    background-position: center;

}

.delivery_operator:checked {
	border: 2px solid #323C8C;
	border-radius: 20px;
	shadow-box:5px;

}






.page_:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px rgba(20, 30, 100, 0.7);
}